.wrapper {
    height: 100dvh;
    transition: height .1s linear, transform .3s ease-in-out;
    transform: translateX(100%);
    top: 0;
    right: 0;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    background-color: var(--background-player);
    
    @media screen and (width >= 768px) {
        width: 70%;
    }
    
    @media screen and (width >= 1024px) {
        box-shadow: 0 0 45px -30px var(--player-text-color);
        transform: translateX(0%);
        width: 30%;
    }

   

    .lastElem{
        @media screen and (width >= 768px) {
            display: none;
        }
    }
}

.show_tracklist{
    transform: translateX(0%);
}

.overlay{
    transition: all .3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    background-color:var(--background-player);
    opacity:0
}

.opacity{
    opacity:.8

}