.button{
    border-radius: 50%;
    position: relative;
    z-index: 0;

    &::after{
        width: 50%;
        height: 50%;
        content: '';
        background-color: var(--controls-not-active);
        position: absolute;
    }

    svg{
        width: 75px;
        height: 75px;

        @media screen and (width >= 768px) {
            width: 80px;
            height: 80px;
        }
    
     

        fill: var(--play-pause);
        z-index: 1;
    }
}