
.article_text{
    font-size: 20px;
        
    @media screen and (width >= 768px) {
        font-size: 24px;
        
    }
    
    @media screen and (width >= 1024px) {
        font-size: 20px;
    }
}

.skeleton_container{
    padding-top: 51px;
    width: 100%;

    .skeleton{
        height: 20px;
    }

}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (width >= 768px) {
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 16px;
    }

    @media screen and (width >= 1024px) {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 16px;
    }
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
