.div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    @media screen and (width >= 1024px) {
        align-items: flex-end;


    }

    .mail_link{
        text-decoration: none;
        color: var(--article-text-color);
    }

    .social_wrapper{
        display: flex;
        gap: 10px;
        align-items: center;

        .tg_moving{
            svg{
                position: relative;
                bottom: .6px;
                right: .6px;
            }
        }

    }


}