

.icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 13px;
    height: 13px;
    right: 12px;
    bottom: 10px;

    span {
        width: 3px;
        background-color: var(--player-bars);
        border-radius: 3px;
        transform-origin: bottom;
        content: '';
        transform: scaleY(0.7); 
        
        &:nth-of-type(2) {
            transform: scaleY(1); 
        }

        &:nth-of-type(3) {
            transform: scaleY(0.5); 
        }
    }
}

.animation{
    /* stylelint-disable-next-line no-descending-specificity */
    span {
        animation: bounce 2.2s ease infinite alternate;

        &:nth-of-type(2) {
            animation-delay: -2.2s; /* Start at the end of animation */
        }
        
        &:nth-of-type(3) {
            animation-delay: -3.7s; /* Start mid-way of return of animation */
        }
    
    }
    
}

@keyframes bounce {
    10% {
        transform: scaleY(0.3); /* start by scaling to 30% */
    }
  
    30% {
        transform: scaleY(1); /* scale up to 100% */
    }
  
    60% {
        transform: scaleY(0.5); /* scale down to 50% */
    }
  
    80% {
        transform: scaleY(0.75); /* scale up to 75% */
    }
  
    100% {
        transform: scaleY(0.6); /* scale down to 60% */
    }
}