.article_dark{
    --article-text-color:#dcdcdc;

    /* --article-bg-color: #1e1e1e; */
    --article-bg-color: #0a0a0a;
    --link-color:rgb(140 255 0);



    /* dcdcdc */

    /* 1e1e1e */



    /* 1e1e1e */

    /* ffe */
}