.light {
    --background-player: rgb(202 202 202);
    --controls-not-active:#343333;
    --controls-not-active-85:#292929d9;
    --controls-active:#36cc98;
    --play-pause:#1fb015;
    --floating-menu-shadow:#351212;
    --text-white:#fff;
}