
  
/* range 2 */
.range_input {
    appearance: none; 
    width: 100%;
    cursor: pointer;

    // outline: none;
    border-radius: 15px;
    height: 8px;
    background: var(--controls-not-active);

}



.range_input::-webkit-slider-thumb {
    display: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--controls-active);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    
}
  
.range_input::-moz-range-thumb {
    display: none;
    height: 15px;
    width: 15px;
    background-color: var(--controls-active);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    
}



.range_input:hover::-webkit-slider-thumb{
    display: block;
}

.range_input:active::-webkit-slider-thumb {
    display: block;
}

.range_input:focus::-webkit-slider-thumb {
    display: block;
}
  
.range_input:hover ::-moz-range-thumb{
    display: block;
}

.range_input:active::-moz-range-thumb {
    display: block;
}

.range_input:focus::-moz-range-thumb {
    display: block;
}
  