.div{
    width: 100%;
    max-width: 304px;
    padding: 16px 32px;
    filter: drop-shadow(0 0 16px var(--floating-menu-shadow));
    background-color: var(--background-player);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;

}

.fixed{
    position: fixed;
    bottom: 35px;
    z-index: 1;
}

.placeholder{
    display: none;
}

.placeholder_visible{
    display: block;
}
    
@media screen and (width >= 768px) {
    .placeholder_none{
        display: none;
    }
}
