.div{
    padding: 16px 32px;
    filter: drop-shadow(0 0 16px var(--floating-menu-shadow));
    background-color: var(--background-player);
    display: flex;
    gap: 35px;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
}