.title{
    @media screen and (width >= 1024px) {
        font-size: 44px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 16px;
    }
}

.welcome_text{
    font-size: 16px;
    
    @media screen and (width >= 768px) {
        font-size: 20px;
    }
    
    @media screen and (width >= 1024px) {
        font-size: 18px;
        margin-bottom: 16px;
    }
}

.text_and_photo_wrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;

    @media screen and (width >= 768px) {
        flex-direction: row;
    }

    .left_side{
        width: 100%;

    
        
    }
    
    .right_side{
        width: 100%;

        @media screen and (width >= 768px) {
            flex-shrink: 2;
            flex-direction: row;
        }

        @media screen and (width >= 1024px) {
            flex-shrink: 3;
        }

        .image_wrapper{
            width: 100%;
            position: relative;
            aspect-ratio: 3 / 4;
            border-radius: 15px;
            overflow: hidden;
            
            img{
                object-fit: cover;
            }
        }
        
    }
    
}

.links{
    display: flex;
    flex-direction: column;

    @media screen and (width >= 1024px) {
        gap: 4px;
    }
}