.button{
    position: absolute;
    top: 0;
    right: 0;
    
    svg{
        width: 40px;
        height: 40px;
        fill: var( --article-text-color);
        stroke:  var( --article-text-color);
    }
}

.smaller{
    top: 6px;
    right: 6px;
    width: 28px;
    height: 28px;
}