.button{
    width: 35px;
    height: 35px;

    svg{
        width: 100%;
        fill: var( --article-text-color);
        stroke:  var( --article-text-color);
    }
}

.smaller{
    padding: 7px;

    @media screen and (width >= 768px) {
        padding: 5px;
    }
}