.wrapper {
    position: relative;
    padding: 10px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background-color: var(--background-player);
    border-bottom: 4px solid var(--track-item-border-bottom);
    cursor: pointer;

    @media screen and (width >= 768px) {
        &:nth-last-child(2){
            // border-bottom: none;
        }
    }


    .text{
        flex-grow: 1;
    }

    .image{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 0;

        img{
            object-fit: cover;
        }
    }

    .title{
        font-size: 18px;
    
        @media screen and (width >= 768px) {
            font-size: 22px;
        }

        @media screen and (width >= 1024px) {
            font-size: 20px;
        }
    }

    .title_skeleton{
        display: block;
        width: 60%;
        height: 22px;
        margin-bottom: 10px;
    }

    .description_skeleton{
        display: block;
        width: 80%;
        height: 22px;
    }
  
}

